<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">

	<bean id="supplierAction" class="ca.mcmaster.erp.invoice.supplier.web.SupplierAction" scope="prototype"/>
	<bean id="supplierEbi" class="ca.mcmaster.erp.invoice.supplier.service.ebo.SupplierEbo"/>
	<bean id="supplierDao" class="ca.mcmaster.erp.invoice.supplier.dao.impl.SupplierImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>