<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">
	<bean id="menuAction" class="ca.mcmaster.erp.auth.menu.web.MenuAction" scope="prototype"/>
	<bean id="menuEbi" class="ca.mcmaster.erp.auth.menu.service.ebo.MenuEbo"/>
	<bean id="menuDao" class="ca.mcmaster.erp.auth.menu.dao.impl.MenuImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>