<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">

	<bean id="storeAction" class="ca.mcmaster.erp.invoice.store.web.StoreAction" scope="prototype"/>
	<bean id="storeEbi" class="ca.mcmaster.erp.invoice.store.service.ebo.StoreEbo"/>
	<bean id="storeDao" class="ca.mcmaster.erp.invoice.store.dao.impl.StoreImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
