<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">

	<bean id="empAction" class="ca.mcmaster.erp.auth.emp.web.EmpAction" scope="prototype"/>
	<bean id="empEbi" class="ca.mcmaster.erp.auth.emp.service.ebo.EmpEbo"/>
	<bean id="empDao" class="ca.mcmaster.erp.auth.emp.dao.impl.EmpImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>