<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">

	<bean id="storeDetailAction" class="ca.mcmaster.erp.invoice.storedetail.web.StoreDetailAction" scope="prototype"/>
	<bean id="storeDetailEbi" class="ca.mcmaster.erp.invoice.storedetail.service.ebo.StoreDetailEbo"/>
	<bean id="storeDetailDao" class="ca.mcmaster.erp.invoice.storedetail.dao.impl.StoreDetailImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
