<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">

	<bean id="orderDetailAction" class="ca.mcmaster.erp.invoice.orderdetail.web.OrderDetailAction" scope="prototype"/>
	<bean id="orderDetailEbi" class="ca.mcmaster.erp.invoice.orderdetail.service.ebo.OrderDetailEbo"/>
	<bean id="orderDetailDao" class="ca.mcmaster.erp.invoice.orderdetail.dao.impl.OrderDetailImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>