<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">

	<bean id="orderAction" class="ca.mcmaster.erp.invoice.order.web.OrderAction" scope="prototype"/>
	<bean id="orderEbi" class="ca.mcmaster.erp.invoice.order.service.ebo.OrderEbo"/>
	<bean id="orderDao" class="ca.mcmaster.erp.invoice.order.dao.impl.OrderImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>